@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
body {
  background-color: gainsboro;
  font-family: "Hachi Maru Pop", cursive;
}
.name {
  color: red;
}
.but {
  background-color: red;
  border: solid 2px black;
  margin-top: 20px !important;
  color: white;
  border-radius: 1rem;
  font-size: 20px;
  padding: 0.5rem;
  margin-bottom: auto;
  transition: all 1s ease-out;
  transition-timing-function: linear;
}
.but:hover {
  text-decoration: none;
  background-color: green;
  color: white;
}
.pic {
  width: 15rem;
  height: 20rem;
  border-radius: 2rem;
}
.welcome {
  margin-right: 20px;
  margin-bottom: auto !important;
}
.cont {
  margin-top: 10px;
  margin-bottom: -10px;
}
